@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet fixes for Fresh */
.leaflet-container {
  font-family: inherit;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
}

.leaflet-popup-content {
  margin: 12px;
}
